/*
html, body {
	width: 960px;
}

html,body,p,table{
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#333333;
	margin:0px;
	padding:1px;
}

table,tr,td,th{
	font-family:Arial, sans-serif;
	font-size:12px;
	color:#333333;
}

h1 {
	font-size: 18px;
}
h2 {
	font-size: 16px;
}
*/

label.valid {
	width: 24px;
	height: 24px;
	background: url(assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

#date-last-update {
    font-size: 0.8em;
}

.changed {
	color: #ff0000;
}

.downloaded  {
	padding-left: 10px;
}
.downloaded  i {
	color: #999;
}

.uploaded  {
	padding-right: 10px;
}
.uploaded  i {
	color: #999;
}

.green {
	color: #00cc00;
}
.red {
	color: #cc0000;
}


/* TIMELINE CHARTS */

.section { 
	float: left;
	clear: left;
	padding: 1em 2em;
}
.section-label {
	width: 100px;
	float: left;
    height: 100px;
    /*padding: 60px 0 0;*/
}
.section-label  p{
	font-size: 9px;
}

.timeline { 
	font-size: 0.75em; 
    float: left;
}
.timeline li { 
	position: relative;
	float: left;
	width: 16px; 
	margin: 0 1px 20px;
	height: 100px; 
    list-style: outside none none;
}
.timeline li a { 
	display: block;
	height: 100%;  
}
.timeline li .label { 
	display: block; 
	position: absolute; 
	bottom: -2em; 
	left: 0; 
	color: #666;
	font-size: 80%;
	background: #fff; 
	width: 100%; 
	height: 2em; 
	line-height: 2em; 
	text-align: center;
	padding: 0.1em 0.2em 0.2em;
}
.timeline li a .count { 
	display: block; 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	height: 0; 
	width: 100%; 
	background: #AAA; 
	text-indent: -9999px; 
	overflow: hidden; 

}
.timeline li:hover { 
	background: #f6f6f6; 
}
.timeline li a:hover .count { 
	background: #2D7BB2; 
}

.timeline .sm {
	width: 8px;
}


.timeline .usage-total {
	background-color: #eee;
}
.timeline .usage-down {
	background-color: #eee;
}
.timeline .usage-up{
	background-color: #eee;
}

.timeline .usage-spacer{
	width: 8px;
}

/* percentages / 10 */

/* total = yellow = from a89f00 to e8dc00 */
.timeline .total-1 {
	background-color: #ffffff;
}
.timeline .total0 a .count {
	background-color: #A89F00;
}
.timeline .total1 a .count {
	background-color: #AEA500;
}
.timeline .total2 a .count {
	background-color: #B5AB00;
}
.timeline .total3 a .count {
	background-color: #BBB100;
}
.timeline .total4 a .count {
	background-color: #C2B700;
}
.timeline .total5 a .count {
	background-color: #C8BE00;
}
.timeline .total6 a .count {
	background-color: #CEC400;
}
.timeline .total7 a .count {
	background-color: #D5CA00;
}
.timeline .total8 a .count {
	background-color: #DBD000;
}
.timeline .total9 a .count {
	background-color: #E2D600;
}
.timeline .total10 a .count {
	background-color: #E8DC00;
}

/* down = green = from 008a00 to 71ff71 */
.timeline .down-1 {
	background-color: #ffffff;
}
.timeline .down0 a .count {
	background-color: #008A00;
}
.timeline .down1 a .count {
	background-color: #0B960B;
}
.timeline .down2 a .count {
	background-color: #17A117;
}
.timeline .down3 a .count {
	background-color: #22AD22;
}
.timeline .down4 a .count {
	background-color: #2DB92D;
}
.timeline .down5 a .count {
	background-color: #39C539;
}
.timeline .down6 a .count {
	background-color: #44D044;
}
.timeline .down7 a .count {
	background-color: #4FDC4F;
}
.timeline .down8 a .count {
	background-color: #5AE85A;
}
.timeline .down9 a .count {
	background-color: #66F366;
}
.timeline .down10 a .count {
	background-color: #71FF71;
}

/* up = red = from 9d0000 to ff7171 */
.timeline .up-1 {
	background-color: #ffffff;
}
.timeline .up0 a .count {
	background-color: #9D0000;
}
.timeline .up1 a .count {
	background-color: #A70B0B;
}
.timeline .up2 a .count {
	background-color: #B11717;
}
.timeline .up3 a .count {
	background-color: #BA2222;
}
.timeline .up4 a .count {
	background-color: #C42D2D;
}
.timeline .up5 a .count {
	background-color: #CE3939;
}
.timeline .up6 a .count {
	background-color: #D84444;
}
.timeline .up7 a .count {
	background-color: #E24F4F;
}
.timeline .up8 a .count {
	background-color: #EB5A5A;
}
.timeline .up9 a .count {
	background-color: #F56666;
}
.timeline .up10 a .count {
	background-color: #FF7171;
}
