
html, body {
	font-family: 'Nixie One', Arial, serif; font-weight: 400;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	background: #2D2E2F;
	background: #00000c;
	overflow: hidden;
}


#grad
{
	display: inline-block; 
	height:100%;
	width:100%; 
	background: #00000c;
	background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%);
	background-image: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%);
	background-image: -webkit-linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%);
	background-image: -moz-linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%);
	background-image: -o-background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%); 
}

#gradInfo
{     
	font-size:2em;
	color:#fff;
	text-align:center;
	position: fixed;
	height:20px;
	width:500px;
	top: 25%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
}

#slider-parent
{ 
	width:50%; 
	margin-left:auto;
	margin-right:auto; 
	position:fixed;
	bottom: 20px;
	left: 25%;
}

#slider 
{ 
	width:100%; 
	margin-left:auto;
	margin-right:auto; 
	position:fixed;
	bottom: -20px;
	left: 0%;
}

#slider-parent:hover #slider 
{ 
	bottom: 20px;
}

#time
{ 
	font-size:6em;
	margin-bottom:10px;
}

#timeOfDay
{ 
	font-size:.3em;
	margin-left:18px;
	visibility:hidden;
}

#date
{ 
	font-size:1.5em;
}

canvas
{ 
	margin-top:25px;
}

#temp
{ 
	font-size:5em;
	margin-top:-5px;
}


#fullscreentoggler 
{ 
	width: 50px; 
	height: 50px;
	position: fixed;
	top: 0;
	right: 0;
	cursor: pointer;
}
