
label.valid {
	width: 24px;
	height: 24px;
	background: url(assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

.details-dirlist a {
	padding: 0 5px;
}

.highlight {
	font-weight: bold;
	
}

#files-grid {
	font-size: 90%;
}

#files-grid h2 {
	font-size: 24px;
}
#files-grid h2 span {
	font-size: 20px;
	/*color: #999;*/
	padding-left: 8px;
}

#files-grid td {
	padding: 4px 8px;
	border-top: 1px solid #EEEEEE;
}

#files-grid .fa {
	min-width: 12px;
	text-align: center;
	margin: 0px 2px;
}

/*
				odd		even
				
	dir: #eee	#EEE	#F2F2F2
	
	file: #fff	#fff	#f6f6f6
	
	inactive: text = #666
	
*/

table tr:nth-child(odd) td{
}
table tr:nth-child(even) td{
}


.row-dir:nth-child(odd) {background-color: #EEE;}
.row-dir:nth-child(even){background-color: #F2F2F2;}

.row-dir-active {}
.row-dir-inactive {color: #900; font-style: italic;}

.row-file:nth-child(odd) {background-color: #fff;}
.row-file:nth-child(even) {background-color: #fcfcfc;}

.row-file-active {}
.row-file-inactive {color: #900; font-style: italic;}

